.paragraph{
  font-family: Roboto;
  font-size: 1.8rem;
  line-height: 111.68%;
  letter-spacing: 0.01em;
  display : inline-flex;
  align-items: center;   
  &__texts{
    max-width: 23.8rem;
    margin-left: 2.6rem;
    display: flex;
    flex-direction: column;
    
  }
  &-comment{
    font-family: 'Open Sans';
    font-size: 1.4rem;
    line-height: 129.18%;
    letter-spacing: initial;
    & .paragraph__text {   
      font-weight: 800;
    }
  }
}
