.title{
  font-family: Roboto;
  font-size: 1.8rem;
  line-height: 111.68%;
  letter-spacing: 0.01em;
  display : inline-flex;
  align-items: center;
   
  &__texts{
    max-width: 23.8rem;
    margin-left: 2.6rem;
  }
}
