extends ../base/base.pug
include ../../components/title/title.pug

append styles
  link(rel='stylesheet', href='index.scss')

append header
block title
  title='Alain page 0'
append main
  +title({
    text:'Сайт Алёны Агеевой об&nbsp;изучении digital-дизайна'
    })
    .title__img='АГ'

