body{
  background-color: var(--second_color, red);
  color: var(--main_color, red);
}
.title__img{
  background-color: var(--main_color, red);
  color: var(--second_color, red);
  $size: 5rem;
  width: $size;
  height: $size;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 300;
  font-size: 2rem;
  line-height: 160.68%;
  letter-spacing: 0.13em;
}